@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
  --link-color-light: #0000EE;
  --text-color-light: #ffffff;
}

*, body {
  font-size: small;
  font-weight: bold;
  font-family: var(--font-jetbrains-mono);
  background-color: var(--link-color-light);
  color: var(--text-color-light);
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: var(--link-color);
}
